<div>
  <img src=<%= user.photo || 'https://bit.ly/3ysgF6D' %> alt=<%= "#{user[:name]}'s_Image" %> />
  <div>
    <p><%= user[:name] %></p>
    <p>Number of posts: <%= user[:posts_counter] %></p>
  </div>
</div>