<main class='main-container'>
  <h1>List of all users</h1>
  <% @users.each do |user| %>
    <%= render partial: "user_card", locals: {user: user} %>
  <% end %>
  <p> <%= @users.length < 1 ? "There's no user yet" : '' %> </p>
</main>